* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 76, 95);
  font-size: 30px;
}
#countdown {
  width: 100px;
  height: 70px;
  display: inline-flex;
  margin: 10px;
  font-size: 30px;
}
.container {
  border-radius: 5px;
  padding: 20px;
  width: 60%;
  background-color: whitesmoke;
}

.button {
  border-radius: 8px;
  width: auto;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(172, 226, 165);
  border-color: rgb(172, 226, 165);
  box-shadow: 0 12px 16px 0;
  cursor: pointer;
}
.choices {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.hide {
  display: none;
}

.choices :hover {
  color: rgb(109, 129, 109);
}
